<h1>ユーザ一覧</h1>

<table class="table">
  <thead>
    <tr>
      <td>ユーザID</td>
      <td>ユーザ名</td>
      <td>UUID</td>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.uuid %></td>
        <td><%= link_to '削除', admin_tools_user_path(user), method: :delete, data: { confirm: '削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to '戻る', admin_tools_tops_path %>
</p>
